.movieCard{
    height: 60vh;
    width: 20%;
    background:rgba(241, 220, 207, 0.911);
    color: #F2F2F2;
}

// .content h1{
//     margin-top: 0;
//     padding-top: 10px;
//     color: red;    
// }

// .resultsContainer {
//     text-emphasis: center;
//     display: flex;
//     flex-direction: wrap;
//     justify-content: center;
//     align-items: center;
// }